* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Diseño del cuerpo del html */
body{
    text-align: center;
    background-color: rgb(128, 124, 124);
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}

/* Diseño del Panel Contendor*/
#Panel{
    align-content: center;
    border-radius: 10px;
    border: 1px solid black;   
    background-color: black;
    color: white;
    padding: 10px;
    max-width: 360px;
    box-shadow: 0 10px 20px rgb(104, 27, 3);
}

/* Diseño de la Pantalla */
#Pantalla{
    width: 100%;
    height: 56px;
    font-size: 30px;
    font-family: 'Consolas';
    text-align: right;
    border-radius: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* Diseño de los Botones*/
button{
    width: calc(25% - 10px);
    height: 60px;
    border: none;                 /* Sin borde */
    border-radius: 30px;           /* Bordes redondeados */
    float: left;
    background-color: silver;
    color: black;                  /* Color del texto */
    font-weight: bold;
    font-size: 18px;              /* Tamaño del texto */
    cursor: pointer;              /* Cursor de mano */
    transition: background 0.2s;  /* Efecto al pasar el mouse */
    margin: 10px 5px; 
    box-shadow:  -1px 1px 30px -10px  rgb(221, 78, 26);  /*-1px 1px 30px -5px*/
}

button:hover{
    background-color: gray;
}

.Operadores{
    background-color: #e37e26; 
}

.Operadores:hover{
    background-color: #db5423;
}

#BtnCero{
    width: calc(50% - 10px); 
}

#BtnLimpiar{
    background-color:  #2f7ad6;
}
 
#BtnLimpiar:hover{
    background-color:  #092bec;
}

.IgualOperator{
    background-color: #2f7ad6;
}

.IgualOperator:hover{
    background-color:  #092bec;
}

/* Diseño de las etiquetas  */
#Label_1{
    font-size: 40px;
    font-family: 'Times New Roman';
    font-weight: bold;
}

#Label_2{
    font-size: 20px;
    font-family: 'Times New Roman';
}

